body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    background: #111;
    color: #f5f5f5
}

header{
    background: #1db954;
    padding: 1rem 2rem;
}

h1, h2, h3{
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

section{
    background: #181818;
    padding: 2rem;
    border-radius: 8px;
    flex: 1;
    width: 60%;
}

label{
    display: block;
    margin-bottom: 1rem;
}

input{
    width : 100%;
    padding: 0.6rem;
    margin-top: 0.25rem;
    border-radius: 4px;
    border: 1px solid #333;
    background: #121212;
    color: #f5f5f5;
}
button{
    background: #1db954;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

button:hover{
    background: #1ed760;
}

.song-inputs{
    display: grid;
    grid-template-columns: repeat(3,1fr) auto;
    gap: 2.5rem;
    margin-bottom: 1rem;
}

.input-group{
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
}

.input-group input{
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #444;
    background: transparent;
    color: #fff;
    font-size: 1rem;
    outline: none;
}

.input-group label{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 14px;
    pointer-events: none;
    transition: 0.2s ease;
}

/* Underline animation */
.input-group .underline {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: linear-gradient(90deg, #ff6bcb, #7b61ff);
    transition: width 0.3s ease;
}

/* När input är fokuserad eller har text */
.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label {
    top: 0;
    font-size: 11x;
    color: #1db954;
}

.input-group input:focus ~ .underline {
    width: 100%;
}

#temp-song-list{
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
}
#temp-song-list li{
    padding: 0.25rem 0;
    border-bottom: 1px solid #333;
    font-size: 0.9rem; 
}

#song-title, #song-artist, #song-genre{
}

#playlist-name{
    width: 74%;
}


.playlist-card{
    border:1px solid #333;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #202020;
}

.playlist-card h3{
    margin-top: 0.5rem;
}

.playlist-group{
    margin-bottom: 0.75rem;
}

.playlist-group h4{
    margin: 0 0 0.25rem;
    font-size: 0.95rem;
    color: #1db954;
}

.playlist-group ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}